body {
	overflow: hidden;
}

#canvas {
	border: 2px dashed #999;
	border-radius:4px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-200px;
	margin-top:-200px;
}

#extra-canvas{
	position:absolute;
	top:0px;
	left:0px;
}
